* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }


html {
  font-size: 62.5%;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #f7f7f7;
}

a {
  text-decoration: none;
 }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;

}

li{
  display: inline;
  justify-content: space-evenly;
}

main {
    margin-top: 10rem;
    text-align: center;
}

header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7rem;
    padding: 0 15px;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    width: 100%
}

.site-logo {
    transition: color 200ms cubic-bezier(.55, 0, .1, 1);
    color: #30acff;
    font-size: 3rem;
}

.ok-header__logo:hover {
  color: #546edb;
}



.Nav ul {
  float: left;
}

.Nav a {
  color: #2e2e33;
   font-size: 1.4rem;
   font-weight: bold;
   position: relative;
   z-index: 1;

}
