html {
  overflow-x: hidden;
}

.container{
width: 100vw;
margin-bottom: 15vw;

}
#navbar {
  display: none;
  overflow: visible;
  z-index: 10;
  padding:15px;
  transition: all .2s ease;
  background-color: #333;
}
}

#navbar a {
  float: center;
  opacity:0.5;
  color: #f2f2f2;
  transition: opacity .3s ease;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color:white;
  opacity: 1;
  color:black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media screen and (min-width:0\0) {
    select {
        background-image:none\9;
        padding: 5px\9;
    }
}


  @media only screen and (max-width: 700px) {
    .btn {
      width: 35% !important;
    }
    .contactUs-container {
      width: 100vw;
    }
  }

body {
  text-align: center;
  color: white;
  background-color: #343139;
  position:relative;

   }
#main-image{

width:50vw;

}



.title {

  letter-spacing: 3px;
  color: #DFE3EE;
}

.description {
  color: white;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 50px; }

.container {

  width: 100%; }
  .container .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   }


  .container .col-3 {
      width: 21.75%;
    margin-left: 5%;
    margin-right: 1%;
    border-bottom: 8px solid #FC6F72;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3E3937;
    height: 200px;
    color: white; }



span {
  font-size: 18px;
  display: block;
  margin: 15px 0 50px 0;
  font-weight: bold; }

a {
  color: white; }

i {
  opacity: 0.2;
  transition: 1s;

 }
  i:hover {
    opacity: 1;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s; }



.about__section {
  width:50vw;
  margin:auto;
}

.about__section .about__slot {
  width:33%;
  box-sizing: border-box;
  background-color:#3E3937;
  border-right:none;
  border-top:none;
  height:15vw;
  min-height:300px;
  min-width:220px;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  cursor:pointer;
  position:relative;
  background-size:0% auto;
  transition:all 0.3s linear;
  background-position:center center;
  background-repeat:no-repeat;
  overflow:hidden;
}

.about__slot .bioText {
  opacity:0;
  color:white;
  pointer-events:none;
  position:absolute;
  top:350px;
  left:0;
  right:0;
  padding:10%;;
  padding-top:25px;
  padding-bottom:25px;
  width:80%;
  height:0;
  transition:all 0.3s linear;
  margin:auto;
}

.about__slot.bio .about__info {
  top:0px;
  bottom:200px;
  background-color:rgba(0,0,0,0.42);
  box-shadow:inset 0px -5px 10px 0 rgba(0,0,0,1);
}

.about__slot.bio .bioText  {
  opacity:1;
  border-radius:0;
 position:absolute;
  top:50px;
  padding-top:200px;
  left:0;
  right:0;
  bottom:0;
  width:80%;
  height:250px;
  color:white;
  background-color:rgba(42,42,42,0.7);
  z-index:8;
  margin:auto;
  font-family:sans-serif;
  overflow:auto;
}

.about__slot .about__info {
  position:absolute;
  left:0;
  bottom:0;
  top:210px;
  right:0;
  pointer-events:none;
  z-index:9;
  -webkit-transition:all 0.3s linear;

}

.about__slot .headshot {
  margin:auto;
  margin-top:19px;
  width:172px;
  height:172px;

  background-size:200px 200px;
  background-position:center 15%;
  border-radius:100%;
  box-shadow:0px 2px 10px 2px rgba(0,0,0,0.42);
  -webkit-transition:all 0.1s ease-in-out;
}

.about__slot.bio .headshot {
  -webkit-filter:blur(3px);
  opacity:1;
  width:100%;
  height:300px;
  border-radius:0;
  margin-top:0;
  background-size:375px 375px !important;
  border:0;
  top:0;
  left:0;
  bottom:0;
  right:0;

}

.about__slot .name {
  font-family:"Typo Grotesk",sans-serif;
  font-size:20px;
  font-weight:800;
  color:white;
  margin-bottom:0px;
  -webkit-transition:all 0.3s linear;
}

.about__slot .title {
   font-family:"Typo Grotesk",sans-serif;
  font-size:16px;
  font-weight:300;
  margin-top:5px;
  color:black;
  -webkit-transition:all 0.3s linear;
}

.about__slot.bio .name {
  color:#f5f5f5;
}

.about__section .about__slot:hover .headshot {
  opacity:1;
  width:100%;
  height:300px;
  border-radius:0;
  margin-top:0;
  background-size:325px 325px;
  border:0;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.about__section .about__slot:hover .name {
  color:#f5f5f5 !important;
}

.about__section .about__slot:hover .about__info {
    background-color:rgba(0,0,0,0.42);
}
#team-members {

  margin-bottom:200px;


}





  .contactUs-container {

  width: 50vw;
  margin: 0 auto;
  margin-top: 50px;

  }

  .row {
    text-align: center;
  }

  .form {
    margin-top: 40px;
  }

  .inputField {
    position: relative;
    margin-top: 20px;
  }

  .half {
    width: 48%;
  }

  .label.line {
    left: 7.291666667%;
  }

  .right {

  margin-left: 4%;
  }

  .label {
    position: absolute;
    bottom: 35%;
    pointer-events: none;
    left: 3.5%;
    -webkit-animation-fill-mode: forwards;
    cursor: text;
    transition: all .2s ease;
    user-select: none;
    color: #999;

  }

  input:focus ~ label, input:valid ~ label {
    font-size: 12px;
    bottom:61.5%;

  }

  .btn {
    padding: 20px;
    margin-top:10px;
    color: #343139;
    background-color: #999;
    border: none;
    transition: all .5s ease;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;

  }

  .btn:hover {
    transform: scale(0.85);
  }

  .btnDiv {
  text-align: right;

  }

  select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 20px;
    width: 48%;
    border:none;
    background-color: #3E3937;
    color:#999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../assets/arrow_drop_down-512.png) 92% / 15% no-repeat #3E3937;

  }

  select::-ms-expand {
      display: none;
  }

   fieldset.box-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color:#DFE3EE;
    border-top:1px solid #E0E0E0;

  }

  a {
     text-decoration: none;
  }

  fieldset legend h1 {
    margin:0;
    text-decoration: none !important;
    letter-spacing: 1.5px;
  }

  fieldset, legend {
    border: none;
  }
  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
  }

  input[type="text"], textarea {
        padding: 30px;
        border: 0;
        width: 100%;
        color: white;
        box-sizing:border-box;
        font-size: 1rem;
        background-color: #3E3937;
        border-radius: 4px;
  }
